#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#whoami{
  width: 80%;
}

.vignette{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#codeblock {
  background-color: #161b22;
  padding: 20px;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-size: 0.9rem;
  color: white;
  white-space: pre-line;
  width: 80%;
}

#proj_grid{
  width: 100%;
  height: 10vw;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-around;
}


.projet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: transform 0.3s ease;  
}

.projet:hover{
  transform: rotateZ(3deg);
  cursor: pointer;
}

.contact{
  display: flex;
  flex-direction: column;
}

#contact_links{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  justify-content: center;
}



.contact>div{
  display: flex;
  padding: 5px;
  align-items: center;
  height: 20px;
  border: 2px #005cc8 solid 
}


.contact>div>img{
  height: 100%;
}

.vignette>img{
  width: 75%;
}

#project_bloc{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
  width: 100%;
}

#current_project{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

#technos_proj{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.icon_n_media{
  gap: 5%;
}
.techno {
  display: inline-block; 
  padding: 5px 10px;     
  width: auto;              
  border-radius: 4px;  
  border: 2px #005cc8 solid;
}

#descriptive_image{
  width: 80%;
}

@media (min-width:830px){
  #contact_links{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-evenly;
  width: 100%;
}

}

@media (min-width: 960px){
  #presentation{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#whoami{
  width: 55%;
}

#codeblock{
  width: 45%;
}

#proj_grid{
  grid-template-columns: repeat(3, 30%);
}

#current_project{
  flex-direction: row;
}

#descriptive_text{
  width: 60%;
}

#descriptive_image{
  width: 40%;
}
}

@media (min-width: 460px){
  .techno{
    white-space: nowrap;
  }
}

#project_bloc>hr{
  width: 100%;
}